$side-bar-size: 250px;
$side-border-color: #444;

body, html {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

aside {
  background-color: #232323;
  position: absolute;
  width: $side-bar-size;
  height: 100%;
  color: white;

  .bus-schedule {
    margin-top: 50px;
    .row {
      position: relative;
      &:first-child {
        border-top: 1px solid $side-border-color;
      }

      border-bottom: 1px solid $side-border-color;
      padding: 10px;
      overflow: auto;
    }

    .route {
      font-weight: bold;
      float: left;
      font-size: 55px;
      width: 100px;
      text-align: center;
    }

    .description {
      font-size: 11px;
      text-transform: capitalize;
      width: 70px;
      position: absolute;
      left: 50%;
      top: 15px;
      margin-left: -15px;
    }

    .time {
      width: 70px;
      text-align: center;
      font-size: 40px;
      float: right;
      font-weight: bold;
      //margin-right: 10px;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }

      .delta {
        font-weight: normal;
        font-size: 20px;
      }
    }
  }
}

main {
  height: 100%;
  background-color: #000;
  padding-left: $side-bar-size;
  text-align: center;

  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;

  img {
    flex-shrink: 0;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}

// This mixin is necessary since FF/Iceweasel does not support the
// ::shadow selector. Having it coupled together breaks in FF
@mixin override-clock-style() {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
  text-align: center;

  * {
    font-size: 85px;
    transform : scale(1,1.3);
  }

  > span {
    box-shadow: none;
    margin-right: 0px;
    padding: 4px 4px;

    &:after {
      background-color: transparent;
    }
  }

  > b {
    margin-right: 0px;
    color: #777;
  }
}

flip-clock #clock
{
  @include override-clock-style();
}

flip-clock::shadow #clock
{
  @include override-clock-style();
}
